<% if true %>
  <div class='container text-center'>
    <div class='row mt-5'>
        <div class='col-md-12'>
          <h3>Your order is ready!</h3>
          <h6 class='text-muted'>Head to any collection point now.</h6>
        </div>
        <div class='col-md-12'>
          <p class='text-muted'>Order ID: <%= @o.hash_id %></p>
        </div>
    </div>
    <div class='row mt-5'>
      <div class='col-md-12'>
        <button type='button' class='btn btn-secondary btn-collection-point'>I'm at a collection point!</button>
      </div>
    </div>
    <div class='collection-points'>
      <div class='row mt-5'>
        <div class='col-md-12'>
          <h6>Select the collection point you're at!</h6>
        </div>
        <% @collection_points.each do |c| %>
          <div class='col-6 mt-3'>
            <%= link_to c.number, collection_path(number: c.number, order_id: @o.hash_id), method: :post, class: "btn btn-secondary w-75" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script>
    $('button.btn-collection-point').on('click', () => {
      $('.collection-points').show();
    });
  </script>
<% else %>
  <video autoplay></video>
  <script>
      navigator.getUserMedia = navigator.getUserMedia ||
                               navigator.webkitGetUserMedia ||
                               navigator.mozGetUserMedia;

      if (navigator.getUserMedia) {
         navigator.getUserMedia({ audio: false, video: true },
            function(stream) {
               var video = document.querySelector('video');
               video.srcObject = stream;
               video.onloadedmetadata = function(e) {
                 video.play();
               };
               video.play();
            },
            function(err) {
               console.log("The following error occured: " + err.name);
            }
         );
      } else {
         console.log("getUserMedia not supported");
      }
  </script>
<% end %>
