<div class='container vertical-center'>
    <p class='text-muted'>Current URL</p>
    <h4><%= @r.url %></h4>

    <%= form_for @r, url: robob_path, method: :patch do |f|
      <label>New URL</label>
      <%= f.text_field :url, class: 'form-control' %>

      <%= f.submit 'Update', class: 'btn btn-secondary w-100' %>
    <% end %>
</div>
