<!-- Pre-Order Container -->
<div class="mainContainer">
  <!-- Menu toggle for mobile version -->
  <button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
  <!-- Menu -->
  <nav id="ml-menu" class="menu">
    <!-- Close button for mobile version -->
    <button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
    <div class="PreOrder">
      <div class="PO_sideNav" width="40%;" margin="auto">
        <%@stallList.each do |sl| %>
          <a href="#" class="btn btn-primary"><%=sl.name%></a>
          <br><br>
        <% end %>
      </div>
      <!-- View food in different stall -->
      <div class="PO_viewController" width="60%;">
        <div class='addItem'></div>
        <% @menuItems.each do |ml| %>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Actual Food">
            <div class="card-body">
              <h5 class="card-title"><%=ml.name%></h5>
              <p class="card-text">descriptions of food</p>
              <a class="btn btn-primary btn-submit-order" href="/order_item/<%=ml.id%>/add_item" data-remote="true">
                Order Now
              </a>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Pop-Up Container -->
      <div class="PO_orderContainer">
          <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Actual Food">
            <div class="card-body">
              <h5 class="card-title">Roasted Chicken Rice</h5>
              <p class="card-text">The chicken is marinated in ginger juice, soya sauce, honey, salt and pepper before being roasted.
              It serves roasted, fresh chicken with piping hot rice. Savour the flavours of their crispy chicken skin and tender meat. 
              </p>
              <ul>
                Rice: <input type="number" style="width: 4rem;" min="0" max="5" />
              </ul>
              <ul>
                <!-- Chicken: <button class="addsub">+</button><input type="text" style="width: 2rem;" /><button class="addsub">-</button> -->
                Chicken:  <input type="number" style="width: 4rem;" min="0" max="5" />
              </ul>
              <ul>
                Extras: <input type="textarea" />
              </ul>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>