<h4>Order</h4>
<!-- List of button of storeList -->
<%@storeList.each do |s| %>
<div class="storeListContainer" style="width:20rem;">
  <div class="storeListContainer-body">
    <button type="button" class="btn btn-primary"><%="#{s.title}" %></button><br>
  </div>
</div>
<% end %>
<!-- Display all store menu -->
<%@menuItems.each do |mi| %>
<div class="menuItemContainer" style="width:90px;">
  <div class="card-body" style="width:20rem"
</div>
