.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.w-auto {
  width: auto !important;
}

/* Vertically align fontawesome icons */
.fa {
  position: relative;
  top: -1px;
}

.menu {
  .mi_details {
    padding-left: 24px;
  }

  .badge {
    padding: .37rem .5rem;
  }
}
